/* UNIVERSAL SELECTOR WHICH SELECT EACH AND EVERY ELEMENTIN THE PAGE AND APPLY DECLARATION HERE*/
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    /* AS 1rem = 10px; THIS DEFINES WHAT 1rem IS*/
    font-size: 62.5%;       //1rem = 10px;  10px/16px = 62.5%;
    
    @include respond(tab-lands){     //width < 1200?
        font-size: 56.25%;     //1rem = 9px; 9/16 = 56.25%;
    }

    @include respond(tab-port){     //width < 900?
        font-size: 50%;     //1rem = 8px; 8/16 = 50%;
    }

    @include respond(big-desktop){
        font-size: 75%;     //1rem = 12px; 12/16 = 75%;
    }
}

body{
    box-sizing: border-box;
    
    /* AS 3rem = 30px; */
    padding: 3rem;

    @include respond(tab-port){
        padding: 0;
    }
}
