.section-about{
    background-color: $color-grey-light-1;
    padding: 30rem 0;
    
    // as 95vh in header as a view port....95-75=20vh;
    margin-top: -20vh;

    @include respond(tab-port){
        padding: 20rem 0;
    }
}

.section-project{
    background-image: linear-gradient(to right bottom, $color-red-shade-1, $color-black);
    padding: 10rem 0;
    
    margin-top: -20vh;

    @include respond(tab-port){
        padding: 20rem 0;
    }
}

.section-book{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-grey-dark-2, $color-grey-dark-3);

    @include respond(tab-port){
        padding: 10rem 0;
    }
}

.book{
    background-image: linear-gradient(105deg, 
                                    rgba($color-white, 0.85)0%,
                                    rgba($color-white, 0.85)50%,
                                     transparent 50%), 
                                     url(../img/pic2.jpg);
    background-size: 100%;
    border-radius: 0.3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.25);
    
    @include respond(tab-lands){
        background-image: linear-gradient(105deg, 
                                        rgba($color-white, 0.85)0%,
                                        rgba($color-white, 0.85)65%,
                                        transparent 65%), 
                                        url(../img/nat-10.jpg);
        background-size: cover;
    }

    @include respond(tab-port){
        background-image: linear-gradient(to right, 
                                        rgba($color-white, 0.85)0%,
                                        rgba($color-white, 0.85)100%),
                                        url(../img/nat-10.jpg);
    }

    &__form{
        width: 50%;
        padding: 6rem;

        @include respond(tab-lands){
            width: 65%;
        }

        @include respond(tab-port){
            width: 100%;
        }
    }
}